<div class="container">
  <% provide(:title, 'All users') %>
  <h1>ユーザー</h1>
  <%= search_form_for @search  do |f| %>
    <div class="form-group">
      <h2><%= f.label :name_cont, "USERNAME検索欄" %></h2>
      <%= f.text_field :name_cont, class: "form-control" %>
    </div>
    <p><div class="square_btn"><%= f.submit "検索する" %></div></p>
    <% if @result.any? %>
       <%= render partial: 'user' %>
    <% end %>
   <% end %>


</div>
