<!DOCTYPE html>
<html>
<head>
  <title>Daikadai6</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><%= link_to "トップページ", root_path %></li>
      <li><%= link_to "イベント", events_path %></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>運営会社DIVE INTO CODE株式会社の受講生</p>
  </footer>

</body>
</html>
